.vid-list-container {
  width: 100%;
  height: 365px;
}

.vid-outer .vid-inner {
  display: flex;
  margin-bottom: 2.5rem;
  cursor: pointer;
}

.vid-outer .vid-inner .desc{
  padding-left: 0.7rem;
}

